# Verification

In today's world, verification is more important than it ever was. Trying to moderate a server but raids keep spamming the server?
Milk's verification system uses captchas to make sure no one can access your servers content after joining.